body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*============  Bloques repetitivos  =============*/
.d-flx-row-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-flx-column-center {
    display: flex;
    flex-direction: column;
}