.Slider {
    div {
        .Container {

            background-color: RGB(215, 206, 201);

            .Container__boxleft {
                @extend .d-flx-row-center;
                text-align: start;

                .Container__boxleft-intro {

                    h6 {
                        font-size: 18px;
                        margin: 0px 0px 15px 0px;
                        font-family: "Roboto-thin";
                        letter-spacing: 4px;
                    }

                    h1 {
                        font-size: 60px;
                        font-family: "Roboto-Regular";
                        font-weight: 200;
                        margin: 0px;
                    }

                    button {
                        padding: 15px 50px 15px 50px;
                        font-family: "Roboto-Black";
                        font-weight: 200;
                        letter-spacing: 2px;
                        font-size: 14px;
                        margin-top: 30px;
                        background-color: #000;
                        color: #fff;
                        border-radius: 10px;
                        border: none;
                        transition: all 300ms ease;

                        &:hover {
                            background-color: #DB545A;
                            cursor: pointer;
                            transition: all 300ms ease;
                        }

                    }
                }

            }

            .Container__boxright {
                img {
                    // height: calc(100vh - 100px);
                    width: calc(25vw);
                }
            }
        }

    }



}